// Color Palette
$yellow: #FCDF2C;
$prime-light-bg: #f5f5f5;
$second-light-bg: #888;
$prime-dark-bg: #1c1d21;
$second-dark-bg: #262a2f;
$prime-font: #c8c8c8;
$second-font: #fff;

// Padding & Margin , Sizing
$cube: 1rem;
$prime-padding: 0.6rem 1rem;

// Fonts
$font1: 'Roboto Condensed',
sans-serif;
$font2: 'Roboto',
sans-serif;