@import '../sass/main.scss';

img {
  background: cover;
  height: 100px;
}

.container {
  padding: 10px;
}

.form-grid {
  background: $second-dark-bg;
  display: grid;
  grid-gap: 20px;
  align-content: center;
  justify-items: center;
  border-radius: 8px;
  padding: 20px;
}

.results-grid {
  display: grid;
  grid-gap: 20px;
  padding: 20px 0;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.results-name {
  background: $prime-light-bg;
  border-radius: 6rem;
  padding: $prime-padding;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background: $yellow;
  }
}